:root {
    --color1: #1f2937;
    --color2: #f9faf8;
    --color3: #e5e7eb;
    --color4: #3883f6;
}
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
header {
    background-color: var(--color1);
    padding: 16px 64px;
}
ul .logo {
    color: var(--color2);
    font-size: 24px;
    margin-right: auto;
}
ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
}

a {
    text-decoration: none;
    color: var(--color3);
}

#home {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
    background-color: var(--color1);
    padding: 64px;
}

.hero h1 {
    color: var(--color2);
    font-size: 48px;
    font-weight: bolder;
}

.hero p {
    color: var(--color3);
    font-size: 18px;
    padding: 16px 0px
}

.hero button {
    background-color: var(--color4);
    color: var(--color3);
    border-style: none;
    border-radius: 5px;
    padding: 8px;
}

img {
    max-width: 100%;
}

h2 {
    font-size: 36px;
    font-weight: bolder;
    color: var(--color1);
}

.information {
    text-align: center;
}
.box-container {
    display: flex;
    justify-content: center;
    gap: 16px;
}
.box {
    width: 75px;
    height: 75px;
    border: 3px solid  var(--color4);
    border-radius: 10px;
}